# Data files - too large for GitHub
data/
*.tiff
*.tif

# Generated outputs - recreated by running scripts
output/
*.pyc
__pycache__/

# Environment
.env
venv/
.conda/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
